body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #1d1d1f;
}

nav {
    padding: 30px 8%;
}

.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 600;
}

.hero p {
    font-size: 24px;
    color: #666;
}


.project {
    text-align: center;
    padding: 100px 10%;
}

.project img {
    width: 80%;
    max-width: 900px;
}

.project h2 {
    font-size: 45px;
    margin-top: 50px;
}

.project p {
    max-width: 600px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 1.6;
}

.skills {
    color: #666;
    margin-top: 25px;
}
